.header-color{
	background: #833ab4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff !important;
	
}
.landing-grid{
	background: #833ab4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.home {
	color: white !important;
	text-decoration: none;
}
.mdl-layout__drawer-button{
	background: #ffa000 !important;
}

.avatar-img{
	height: 250px;
	margin-top: 5rem;
	border-radius: 50%;
}

.banner-text{
	background-color: black;
	opacity: .8;
	width: 75%;
	margin: auto;
	border-radius: 10px;
}
.banner-text h1 {
	font-size: 66px;
	font-weight: bold;
	color: white;
}
.banner-text hr {
	border-top: 5px dotted #ffffff;
	width: 50%;
	margin: auto;
}

.banner-text p {
	color: #ffffff;
	font-size: 19px;
	padding: 1em;
}

.social-links{
	display: flex;
	justify-content: space-between;
	width: 30%;
	margin: auto;
}

.social-links i {
	color: white;
	font-size: 5em;
	padding: 8px;
}
.social-1 i {
	color: black;
	font-size: 3em;
	padding: 8px;
}

.projects-grid{
	display: flex;
}

.projects-grid a {
	margin: 10px;
	font-size: 16px;
	color: #960ab2;
	text-decoration: none;
	font-weight: bolder;
}
.title{
	font-weight: bolder;
}
.second-row{
	margin-top: 50px;
}

.contact-body {
	margin: auto;
	width: 100%;
	height: auto;
	justify-content: center;
	padding-top: 2em;
}

.contact-grid{
	text-align: center;
	justify-content: center;
	width: 80%;
	height: 550px;
	background: white;
	color: black;
	margin-bottom: 20px;
}

.contact-grid h2{
	font-family: 'Anton', sans-serif;
}

.contact-grid p {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
}

.contact-grid hr {
	border-top: 5px dotted black;
	width: 50%;
	margin: auto;
}
.contact-list i {
	font-size: 60px;
	padding-right: 3rem;
}

.resume-right-col {
	background: #27221F;
  color: white;
  padding: 2em;
	height: 100vh;
	overflow: scroll;
}

.about{
	width: 80% !important;
}

.card span {
	font-weight: bold;
	border-radius: 15px;
  opacity: 0.8;
	background-color: rgb(149, 4, 179);
  color: #fff;
  padding: 7px;
	margin-top: 14rem;
}

@media only screen and  (max-width: 1040px) {
    .cards {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      text-align: center;
        
    }
		.card{
			min-width: 400px;  
		}
}

@media only screen and  (max-width: 852px) {
    .cards {
			display: grid;
			grid-template-columns: 1fr;
      grid-gap: 2rem;
      text-align: center;
        
    }
		.card{
			min-width: 430px !important;  
		}
}


@media only screen and (max-width: 610px) {
    .menu{
			display: none !important;
		}
}

@media only screen and  (max-width: 500px) {
    .card {
			display: block;
			min-width: 270px !important;
		}
}

